{% extends 'base.html' %}

{% block content %}

<!-- Tables -->
<div class="container">
  <div class="row">
    <h1>Current Projects</h1>
    <hr>
  </div>
  <div class="row  ">
     <table class="table table-striped table-hover">
      <thead>
          <tr>
              <th>#</th>
              <th>Name</th>
              <th>Phase</th>
              <th>Status</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>1</td>
              <td>Stark</td>
              <td>Direwolf</td>
              <td>Winterfell</td>
          </tr>
          <tr>
              <td>2</td>
              <td>Lannister</td>
              <td>Lion</td>
              <td>Casterly Rock</td>
          </tr>
          <tr class="info">
              <td>3</td>
              <td>Baratheon</td>
              <td>Stag</td>
              <td>Storm's End</td>
          </tr>
          <tr class="success">
              <td>4</td>
              <td>Targaryen</td>
              <td>3-headed Dragon</td>
              <td>Slaver's Bay</td>
          </tr>
          <tr class="danger">
              <td>5</td>
              <td>Martell</td>
              <td>Sun pierced by a spear</td>
              <td>Sunspear</td>
          </tr>
          <tr class="warning">
              <td>6</td>
              <td>Tully</td>
              <td>Trout</td>
              <td>Riverrun</td>
          </tr>
          <tr class="active">
              <td>7</td>
              <td>Bolton</td>
              <td>Red flayed man</td>
              <td>Dreadfort / Winterfell</td>
          </tr>
      </tbody>
        </table>
  </div>
  <div class="row">
    <h1>Latest Requirements</h1>
    <hr>
  </div>
  <div class="row  ">
     <table class="table table-striped table-hover">
      <thead>
          <tr>
              <th>#</th>
              <th>Name</th>
              <th>Phase</th>
              <th>Status</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>1</td>
              <td>Stark</td>
              <td>Direwolf</td>
              <td>Winterfell</td>
          </tr>
          <tr>
              <td>2</td>
              <td>Lannister</td>
              <td>Lion</td>
              <td>Casterly Rock</td>
          </tr>
          <tr class="info">
              <td>3</td>
              <td>Baratheon</td>
              <td>Stag</td>
              <td>Storm's End</td>
          </tr>
          <tr class="success">
              <td>4</td>
              <td>Targaryen</td>
              <td>3-headed Dragon</td>
              <td>Slaver's Bay</td>
          </tr>
          <tr class="danger">
              <td>5</td>
              <td>Martell</td>
              <td>Sun pierced by a spear</td>
              <td>Sunspear</td>
          </tr>
          <tr class="warning">
              <td>6</td>
              <td>Tully</td>
              <td>Trout</td>
              <td>Riverrun</td>
          </tr>
          <tr class="active">
              <td>7</td>
              <td>Bolton</td>
              <td>Red flayed man</td>
              <td>Dreadfort / Winterfell</td>
          </tr>
      </tbody>
        </table>
  </div>
  <div class="row">
    <h1>Latest Test Plans</h1>
    <hr>
  </div>
  <div class="row  ">
     <table class="table table-striped table-hover">
      <thead>
          <tr>
              <th>#</th>
              <th>Name</th>
              <th>Phase</th>
              <th>Status</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>1</td>
              <td>Stark</td>
              <td>Direwolf</td>
              <td>Winterfell</td>
          </tr>
          <tr>
              <td>2</td>
              <td>Lannister</td>
              <td>Lion</td>
              <td>Casterly Rock</td>
          </tr>
          <tr class="info">
              <td>3</td>
              <td>Baratheon</td>
              <td>Stag</td>
              <td>Storm's End</td>
          </tr>
          <tr class="success">
              <td>4</td>
              <td>Targaryen</td>
              <td>3-headed Dragon</td>
              <td>Slaver's Bay</td>
          </tr>
          <tr class="danger">
              <td>5</td>
              <td>Martell</td>
              <td>Sun pierced by a spear</td>
              <td>Sunspear</td>
          </tr>
          <tr class="warning">
              <td>6</td>
              <td>Tully</td>
              <td>Trout</td>
              <td>Riverrun</td>
          </tr>
          <tr class="active">
              <td>7</td>
              <td>Bolton</td>
              <td>Red flayed man</td>
              <td>Dreadfort / Winterfell</td>
          </tr>
      </tbody>
        </table>
  </div>
</div>


{% endblock %}