<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="polymeric">
    <link rel="icon" href="{% static "img/favicon.ico" %}">

    <title>testFrame</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "css/hacker.css" %}" rel="stylesheet">
      <style>
      .tall-row {
          margin-top: 40px;
      }
      .modal {
          position: relative;
          top: auto;
          right: auto;
          left: auto;
          bottom: auto;
          z-index: 1;
          display: block;
      }
      </style>
  </head>

  <body>

      <a href="https://github.com/polymeric/testframe"><img style="position: absolute; top: 0; left: 0; border: 0;z-index:1001;" src="{% static "img/fork.png" %}" alt="Fork me on GitHub"></a>

    <nav class="navbar-default navbar-static-top flex-md-nowrap p-0">
      <div class="container">
        <div class="row">
          <div class="mx-auto" style="width: 200px;"><a class="navbar-brand" href="#">testFrame</a></div>
          <div class="col-md-1 ml-auto">
            <a class="nav-link" href="#">Home</a>
          </div>
          <div class="col-md-1 ml-auto">
            <a class="nav-link" href="#">Features</a>
          </div>
          <div class="col-md-1 ml-auto">
            <a class="nav-link" href="#">Contact</a>
          </div>
        </div>
      </div>
    </nav>
    
<br>

<div class="container">

        <!-- Jumbotron -->
        <div class="jumbotron">
            <h1>One Test Framework to rule them all.</h1>
            <p>Sick of pale looking, expensive, minimal function, slow, outdated enterprise mentality looking layouts in your test infrastructure?</p>
            <p>To hack around with the source or contribute, check out the project on Github</p>
            <p>
                <a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a>
            </p>
        </div>
</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="{% static "js/jquery-slim.min.js" %}"><\/script>')</script>
    <script src="{% static "js/popper.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
  </body>
</html>

